h2{
    color: black;
    align-items: center;
    text-align: center;
}
h1{
    color: black;

}
h3{
    background-color: rgb(220, 217, 217);
    border-radius: 30px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
}