body{
    background-color: black;
    color: white;
}
.custom-nav {
    height: 100px;
 
}

.custom-nav .nav-link {
    color: #ffffff;
    font-family: monospace;
    font-size: 1.2rem;
    margin-left: 20px;
    margin-right: 20px;

}

.custom-nav .nav-link:hover {
    color: #0d6e63;
}

.custom-nav .navbar-brand:hover {
    color: #0d6e63;
}

.custom-nav .navbar-brand {
    font-family: 'Times New Roman';
    color: #ffffff;
    margin-left: 40px;
}

.custom-nav {
    background-color: rgb(0, 0, 0);
  
}
form{
    background-color: rgb(43, 43, 43);
    padding: 40px;
    border-radius: 20px;
    color: white;
    margin-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 60px;
    margin-right: 60px;

}
.footer-content {
    max-width: 800px;
    margin: 0 auto;
  }

  .footer-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .contact p,
  .social p {
    margin: 5px 0;
    font-size: 15px;
  }

  .copyright {
    margin-top: 15px;
    font-size: 14px;
    opacity: 0.8;
  }