




.custom-nav {
    height: 100px;
 
}

.custom-nav .nav-link {
    color: #ffffff;
    font-family: monospace;
    font-size: 1.2rem;
    margin-left: 20px;
    margin-right: 20px;

}

.custom-nav .nav-link:hover {
    color: #0d6e63;
}

.custom-nav .navbar-brand:hover {
    color: #0d6e63;
}

.custom-nav .navbar-brand {
    font-family: 'Times New Roman';
    color: #ffffff;
    margin-left: 40px;
}

.custom-nav {
    background-color: rgb(0, 0, 0);
    
}


.hero {
    position: relative;
    display: inline-block;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

/* This dims ONLY the image */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45); /* dim level */
    z-index: 1; /* stays behind text */
}

/* Text stays bright */
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2; /* above overlay */
}

.hero-text h3 {
    font-size: 5rem;
    margin-bottom: 10px;
    font-family: 'Times New Roman';
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'Times New Roman';
}


.btn-group {
    display: flex;
    gap: 15px;
    justify-content: center;
    font-family: 'Times New Roman';
}




.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45); /* adjust darkness */
    z-index: 1;
}



.products-week {
    text-align: center;
    padding: 40px 20px;
    font-family: 'Times New Roman';
    
}

.products-week h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 70px;
}

.card {
    background: #ffffff;
    width: 280px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    transition: 0.3s ease;
    position: relative;

}



.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card h3 {
    font-size: 22px;
    margin: 15px 0 5px;
}

.card p {
    font-size: 15px;
    padding: 0 15px;
    color: #555;
    margin-bottom: 15px;
}

.card button {
    margin-bottom: 20px;
    padding: 10px 20px;
    border: none;
    background: #000000;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
  
}





