.custom-nav {
    height: 100px;
 
}

.custom-nav .nav-link {
    color: #ffffff;
    font-family: monospace;
    font-size: 1.2rem;
    margin-left: 20px;
    margin-right: 20px;

}

.custom-nav .nav-link:hover {
    color: #248198;
}

.custom-nav .navbar-brand:hover {
    color: #248198;
}

.custom-nav .navbar-brand {
    font-family: 'Times New Roman';
    color: #ffffff;
    margin-left: 40px;
}

.custom-nav {
    background-color: #000;
    
}
